.advantages {
  padding: 110px 0 100px;
  background-color: $advantages-bg;
  background-image: url("../img/advantages-bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  @media (min-resolution: $retina) {
    background-image: url("../img/advantages-bg-desktop@2x.jpg");
  }

  h2 {
    @include title;

    margin-bottom: 48px;
    text-align: center;
  }
}

.advantages__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  position: relative;
  padding: 81px 24px 24px 30px;
  max-width: 31.034%;
  margin-bottom: 20px;
  background-color: $white;

  &::before {
    @include pseudo;

    top: 30px;
    left: 30px;
    width: 27px;
    height: 32px;
    background-image: url("../img/boat.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--allinclusive {
    &::before {
      top: 35px;
      width: 38px;
      height: 21px;
      background-image: url("../img/allinclusive.svg");
    }

    p {
      width: 94%;
    }
  }

  &--zodiac {
    p {
      width: 80%;
    }

    &::before {
      top: 38px;
      width: 42px;
      height: 15px;
      background-image: url("../img/motorboat.svg");
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 9px;
    font-size: rem(18);
    line-height: 27px;
    font-weight: 500;
    letter-spacing: -0.15px;
  }

  p {
    margin: 0;
    font-size: rem(14);
    line-height: 20px;
  }
}

.advantages__linebreak {
  display: none;

  &--desktop {
    display: block;
  }
}

@media (max-width: $desktop) {
  .advantages {
    padding: 90px 0 80px;

    h2 {
      margin-bottom: 49px;
      font-size: rem(26);
      line-height: 39px;
    }
  }

  .advantages__item {
    padding: 70px 15px 20px 20px;
    max-width: 30.383%;

    &::before {
      top: 26px;
      left: 20px;
      width: 21px;
      height: 26px;
    }

    &--boat {
      p {
        width: 95%;
      }
    }

    &--allinclusive {
      p {
        width: 100%;
      }

      &::before {
        top: 30px;
        width: 33px;
        height: 19px;
      }
    }

    &--zodiac {
      p {
        width: 97.2%;
      }

      &::before {
        top: 32px;
        width: 38px;
        height: 13px;
      }
    }

    h3 {
      margin-bottom: 6px;
    }
  }

  .advantages__inner {
    min-height: 26px;
  }

  .advantages__icon {
    &--boat {
      width: 21px;
      height: 26px;
    }

    &--allinclusive {
      width: 33px;
      height: 19px;
    }

    &--motorboat {
      width: 38px;
      height: 13px;
    }
  }

  .advantages__linebreak {
    display: none;

    &--tablet {
      display: block;
    }
  }
}

@media (max-width: $tablet) {
  .advantages {
    padding: 57px 0 64px;

    h2 {
      margin-bottom: 30px;
      font-size: rem(24);
      line-height: 36px;
    }
  }

  .advantages__list {
    flex-direction: column;
  }

  .advantages__item {
    margin-bottom: 30px;
    max-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &--boat {
      p {
        width: 100%;
      }
    }

    &--allinclusive {
      p {
        width: 90%;
      }
    }

    &--zodiac {
      p {
        width: 100%;
      }
    }

    h3 {
      width: 75%;
    }
  }

  .advantages__linebreak {
    display: none;

    &--mobile {
      display: block;
    }
  }
}
