.card {
  position: relative;
  margin-bottom: 30px;
  min-width: 23.008%;
  cursor: pointer;

  &:hover {
    .card__description {
      display: flex;
    }
  }
}

.card__figure {
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 0;
  min-height: 386px;
  overflow: hidden;
}

.card__img {
  width: 100%;
}

.card__caption {
  position: absolute;
  bottom: 22px;
  left: 31px;
  font-size: rem(18);
  line-height: 27px;
  font-weight: 500;
  color: $white;
}

.card__description {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 29px 25px 35px;
  background-color: $main-color;
  color: $white;
}

.card__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: rem(18);
  line-height: 27px;
  font-weight: 500;
}

.card__inner {
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card__subtitle {
  margin-bottom: 10px;
  font-size: rem(14);
  line-height: 20px;
  font-weight: 500;
}

.card__text {
  margin: 0;
  font-size: rem(14);
  line-height: 20px;
  color: $grey;
}

.card__button {
  margin-top: auto;
  width: 100%;
}

@media (max-width: $desktop) {
  .card {
    max-width: 47.685%;
  }

  .card__caption {
    bottom: 26px;
    left: 36px;
  }

  .card__description {
    padding: 29px 35px 35px;
  }
}

@media (max-width: $tablet) {
  .card {
    max-width: 100%;
  }

  .card__caption {
    bottom: 17px;
    left: 26px;
  }

  .card__description {
    padding: 29px 25px 35px;
  }
}
