.card {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  width: 23.008%;
  min-height: 386px;
  cursor: pointer;

  &:focus,
  &:hover {
    .card__description {
      opacity: 1;
    }
  }

  &--focused {
    .card__description {
      opacity: 1;
    }
  }
}

.card__figure {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 386px;
  overflow: hidden;

  figcaption {
    position: absolute;
    bottom: 22px;
    left: 11.923%;
    font-size: rem(18);
    line-height: 27px;
    font-weight: 500;
    color: $white;
    white-space: nowrap;
    z-index: 10;
  }

  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.card__description {
  @include transition;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 29px 25px 35px;
  background-color: $main-color;
  color: $white;
  opacity: 0;
  z-index: 100;

  h3 {
    margin: 0;
    margin-bottom: 11px;
    font-size: rem(18);
    line-height: 27px;
    font-weight: 500;
  }

  b {
    margin-bottom: 10px;
    font-size: rem(14);
    line-height: 20px;
    font-weight: 500;
  }

  p {
    margin: 0;
    font-size: rem(14);
    line-height: 20px;
    color: $grey;
  }
}

.card__inner {
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card__button {
  margin-top: auto;
  width: 100%;
}

@media (max-width: $desktop) {
  .card {
    width: 47.685%;
  }

  .card__figure {
    figcaption {
      bottom: 26px;
      left: 36px;
    }
  }

  .card__description {
    padding: 29px 35px 35px;
  }
}

@media (max-width: $tablet) {
  .card {
    width: 100%;
  }

  .card__figure {
    figcaption {
      bottom: 17px;
      left: 26px;
    }

    img {
      left: -22px;
    }
  }

  .card__description {
    padding: 29px 25px 35px;
  }
}
