.container {
  @include push-auto;

  width: 84.919%;
}

@media (max-width: $desktop) {
  .container {
    width: 88.281%;
  }
}

@media (max-width: $tablet) {
  .container {
    width: 90.625%;
  }
}
