.cruises {
  padding: 110px 0 90px;

  h2 {
    @include title;

    margin-bottom: 49px;
    text-align: center;
  }
}

.cruises__container {
  width: 82.723%;
}

.cruises__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: $desktop) {
  .cruises {
    padding: 90px 0 70px;

    h2 {
      font-size: rem(26);
      line-height: 39px;
    }
  }

  .cruises__container {
    width: 84.375%;
  }
}

@media (max-width: $tablet) {
  .cruises {
    padding: 57px 0 35px;

    h2 {
      margin-bottom: 30px;
      font-size: rem(24);
      line-height: 36px;
    }
  }

  .cruises__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
