.page-header {
  flex: 0 0 auto;
  min-height: 650px;
  color: $white;
  background-color: $header-bg;
  background-image: url("../img/header-bg-desktop@2x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media (max-resolution: $retina) {
    background-image: url("../img/header-bg-desktop@1x.jpg");
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.page-header__logo {
  fill: $white;
}

.page-header__bottom {
  padding: 156px 8.189%;

  h1 {
    margin: 0;
    margin-bottom: 11px;
    font-size: rem(54);
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 2px;
  }

  p {
    margin: 0;
    font-size: rem(20);
  }
}

.page-header__line-break {
  display: none;
}

@media (max-width: $desktop) {
  .page-header {
    min-height: 638px;
    background-image: url("../img/header-bg-tablet@2x.jpg");

    @media (max-resolution: $retina) {
      background-image: url("../img/header-bg-tablet@1x.jpg");
    }
  }

  .page-header__top {
    padding: 28px 0;
  }

  .page-header__logo {
    position: relative;
    width: 38px;
    height: 20px;
    z-index: 100;
  }

  .page-header__bottom {
    padding: 186px 0;

    h1 {
      font-size: rem(50);
      line-height: 61px;
      letter-spacing: 1.9px;
    }

    p {
      font-size: rem(18);
      line-height: 22px;
    }
  }
}

@media (max-width: $tablet) {
  .page-header {
    min-height: 500px;
    background-image: url("../img/header-bg-mobile@2x.jpg");

    @media (max-resolution: $retina) {
      background-image: url("../img/header-bg-mobile@1x.jpg");
    }
  }

  .page-header__top {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
  }

  .page-header__logo {
    width: 42px;
    height: 22px;

    &--dark {
      fill: $main-color;
    }
  }

  .page-header__bottom {
    padding: 107px 0;

    h1 {
      font-size: rem(36);
      line-height: 45px;
      letter-spacing: 1.4px;
    }

    p {
      width: 70.689%;
      font-size: rem(16);
    }
  }

  .page-header__line-break {
    display: block;
  }
}
