.promo {
  padding: 120px 0 121px;
}

.promo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__inner {
  padding-right: 65px;
  max-width: 50%;

  h2 {
    @include title;

    margin-bottom: 25px;
  }

  p {
    margin: 0;
  }
}

.promo__img-wrap {
  width: 48.275%;
  overflow: hidden;

  img {
    position: relative;
    left: 50%;
    margin-left: -280px;
  }
}

.promo__linebreak {
  display: none;
}

@media (max-width: $desktop) {
  .promo {
    padding: 91px 0;
  }

  .promo__inner {
    padding-right: 15px;

    h2 {
      margin-bottom: 18px;
      max-width: 70%;
      font-size: rem(26);
      line-height: 36px;
    }
  }

  .promo__img-wrap {
    width: 47.787%;
    height: 264px;

    img {
      object-fit: cover;
    }
  }

  .promo__linebreak {
    display: block;
  }
}

@media (max-width: $tablet) {
  .promo {
    padding: 57px 0 65px;
  }

  .promo__container {
    flex-direction: column;
  }

  .promo__inner {
    padding-right: 0;
    max-width: 100%;

    h2 {
      margin-bottom: 15px;
      font-size: rem(24);
      line-height: 34px;
    }

    p {
      margin-bottom: 33px;
    }
  }

  .promo__img-wrap {
    width: 100%;
    height: 186px;

    img {
      left: 0;
      margin: 0;
      min-height: none;
      height: 100%;
      width: 100%;
    }
  }

  .promo__linebreak {
    display: none;
  }
}
