//fonts
$font-main: "Montserrat", "Arial", sans-serif;
//colors

//widths
$mobile: 320px;
$tablet: 767px;
$desktop: 1023px;
//resolution
$retina: 1.5dppx;
//other
$margin: calc(-100vw / 2 + 1300px / 2);
