//fonts
$font-main: "Montserrat", "Arial", sans-serif;
//colors
$white: #f9fbfd;
$main-color: #011c40;
$grey: #d8d8d9;
//widths
$mobile: 320px;
$pre-tablet: 820px;
$tablet: 767px;
$desktop: 1023px;
//resolution
$retina: 1.5dppx;
//transition
$trans-speed: 0.2s;
$trans-curve: ease;
